        body{
        color: rgb(98, 98, 98);
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding-top: 2.5em;
        background-color: rgb(1, 158, 50);
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .center{
        margin-top: 70px;
        text-align: center;
        width: 800px;
        background-color: white;
        border-radius: 20px;
    }
    h1{
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p{
        line-height: 1.5;
    }
    .btn{
        padding: 10px 20px;
        border: 0;
        border-radius: 10px;
        background-color: rgb(69, 66, 63);
        cursor: pointer;
        color: white;
    }
    .btn:hover{
        opacity: 65%;
    }

